@layer reset {
  /* Basic CSS Reset */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif; /* Set a default font */
    line-height: 1;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@layer base {
  :root {
    --color-near-black: #161514;
    --color-copper-gold: #ff983d;
    --color-mid-gold: #cfb378;
    --color-dark-gold: #704e04;
    --color-off-blue: #556366;
    --color-royal-blue: #002261;
    --color-royal-red: #9b1c31;
    --color-off-warm-white: #fcf7f7;
  }
  body {
    background: rgb(57, 56, 54);
    background: radial-gradient(
      circle,
      rgb(49, 49, 48) 0%,
      rgba(22, 21, 20, 1) 100%
    );
    color: var(--color-off-warm-white);
  }
  .input-btn {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: yellow;
  }
  #calculator-body {
    background-color: gray;
  }
}
@layer layout {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 35vw;
  }
  #calculator-body {
    display: flex;
    flex-direction: column;
    flex: 9;
    border-radius: 30px;
    overflow: hidden;
  }
  #project-name {
    flex: 1;
    width: 100%;
  }
  #display-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  #display {
    background-color: #002261;
    width: 90%;
    height: 80%;
    border-radius: 20px;
  }
  #input {
    display: flex;
    flex-direction: column;
    flex: 4;
    padding: 25px;
  }
  .input-row {
    display: flex;
    flex: 1;
  }
  .input-column {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex: 1;
  }
  #bottom-row {
    flex: 1;
    flex-direction: row;
    display: flex;
  }
  #bottom-row-left {
    display: flex;
    flex: 1;
  }
  #bottom-row-right {
    flex: 1;
    height: 100%;
    display: flex;
  }
  #equal-sign {
    flex: 1;
    border-radius: 20px;
    height: 80%;
    background-color: yellow;
  }

  #project-name {
    text-align: end;
    padding-top: 10px;
  }
}
