@layer reset {
  /* Basic CSS Reset */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif; /* Set a default font */
    line-height: 1;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
/*-----------------------------------------------------------------------*/
body {
  background-color: #1e1e1e;
}
main {
  padding: 10px;
  background-image: linear-gradient(
    130deg,
    hsl(30, 5%, 41%) 0%,
    hsl(40, 5%, 35%) 9%,
    hsl(43, 5%, 25%) 21%,
    hsl(34, 6%, 21%) 38%,
    hsl(36, 7%, 14%) 65%,
    hsl(0deg 0% 13%) 100%
  );
  box-shadow: 0px 0px 550px 60px rgb(255, 255, 255, 0.2),
    inset 2px 2px 10px 1px rgb(0, 0, 0, 0.5);
  background-clip: padding-box;
  border: 5px solid transparent;
  border-radius: 1em;
  position: relative;
}
main::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  z-index: -1;
  background: linear-gradient(to right, rgb(231, 97, 97), rgb(172, 44, 44));
}
#display {
  background-color: #747474;
  box-shadow: inset 3px 4px 4px 1px rgb(0, 0, 0, 0.6),
    inset -1px -1px 1px 0px rgb(255, 255, 255, 0.7);
}
#keypad {
  display: flex;
  flex-direction: column;
}
.row-div {
  flex: 1;
  display: flex;
  width: 100%;
}
.col-div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
#clear-slide {
  color: rgb(233, 196, 95);
  font-family: "Fraunces";
  font-size: 2.2rem;
  background-image: linear-gradient(
    130deg,
    hsl(0, 0%, 9%) 0%,
    hsl(0, 1%, 13%) 9%,
    hsl(0, 4%, 26%) 21%,
    hsl(0, 4%, 26%) 38%,
    hsl(0, 3%, 36%) 65%,
    hsl(0, 1%, 52%) 100%
  );
  padding-bottom: 8px;
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  position: relative;
  left: 0%;
  z-index: 1;
}
#clear-slide-slot-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#clear-slide-slot {
  position: relative;
  height: 12px;
  width: 120%;
  right: 10%;
  transform: translate(-35%);
  border-radius: 20px;
  background-color: #000000;
}
.calc-btn {
  background-image: linear-gradient(
    130deg,
    hsl(0, 1%, 52%) 0%,
    hsl(0, 2%, 40%) 9%,
    hsl(0, 2%, 45%) 21%,
    hsl(0, 2%, 36%) 38%,
    hsl(0, 1%, 13%) 65%,
    hsl(0, 0%, 9%) 100%
  );
  aspect-ratio: 1/1;
  font-family: "Cardo";
  font-size: 2.2rem;
  color: whitesmoke;
  height: 70%;
  box-shadow: inset 0 0 6px 8px rgb(0, 0, 0, 0.4),
    2px 2px 4px 1px rgb(0, 0, 0, 0.6),
    -3px -3px 0px -2px rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  position: relative;
  display: inline-block;
}
.gold-edging {
  box-shadow: inset 0 0 6px 8px rgb(0, 0, 0, 0.4),
    2px 2px 4px 1px rgb(0, 0, 0, 0.6),
    -3px -3px 0px -2px rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  position: relative;
  display: inline-block;
}
.gold-edging::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px; /* control the border thickness */
  background: linear-gradient(
    135deg,
    rgb(209, 159, 22) 15%,
    rgba(251, 247, 235, 1) 21%,
    rgb(214, 161, 47) 26%,
    rgba(251, 247, 235, 1) 45%,
    rgb(212, 144, 55) 59%,
    rgba(42, 35, 11, 1) 77%,
    rgb(168, 133, 67) 92%,
    rgb(199, 136, 41) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
.gold-edging-thin {
  box-shadow: inset 0 0 6px 8px rgb(0, 0, 0, 0.4),
    2px 2px 4px 1px rgb(0, 0, 0, 0.6),
    -3px -3px 0px -2px rgb(255, 255, 255, 0.9);
  border-radius: 15px;
  position: relative;
  display: inline-block;
}
.gold-edging-thin::before {
  content: "";
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  padding: 3px; /* control the border thickness */
  background: linear-gradient(
    135deg,
    rgb(121, 92, 11) 15%,
    rgb(165, 162, 154) 21%,
    rgb(116, 87, 24) 26%,
    rgb(155, 152, 144) 45%,
    rgb(107, 72, 26) 59%,
    rgb(24, 20, 6) 77%,
    rgb(80, 63, 32) 92%,
    rgb(104, 71, 21) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
#delete-btn {
  font-size: 1.6rem;
}
.operator-btn {
  height: 70px;
  aspect-ratio: 1/1;
  border-radius: 10px;

  color: rgb(212, 175, 71);
  font-family: "Cardo";
  font-size: 4rem;
  font-weight: 900;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4),
    -2px -2px 2px rgb(255, 255, 255, 0.4);
  box-shadow: inset 1px 1px 6px 3px rgba(0, 0, 0, 0.8),
    4px 4px 4px 1px rgba(0, 0, 0), -5px -5px 18px 1px rgb(209, 159, 22, 0.2);
  background-image: linear-gradient(
    325deg,
    rgb(199, 171, 93),
    rgb(207, 172, 84) 7%,
    rgb(245, 219, 148) 25%,
    rgb(212, 175, 71) 41%,
    rgb(197, 167, 83) 46%,
    rgb(212, 178, 83) 54%,
    rgb(235, 204, 125) 67%,
    rgba(238, 204, 114, 1) 73%,
    rgb(202, 172, 89)
  );
}
#equals-div {
  position: relative;
}
#equals-btn {
  color: white;
  height: 70px;
  position: absolute;
  width: 180%;
  left: 10%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.6),
    -1px -1px 1px rgb(255, 255, 255, 0.8);
  color: #a17a3b;
  font-family: "Cardo";
  font-size: 4rem;
  font-weight: 900;
  box-shadow: inset 1px 1px 6px 3px rgba(0, 0, 0, 0.8),
    4px 4px 4px 1px rgba(0, 0, 0), -5px -5px 18px 1px rgb(209, 159, 22, 0.2);
  background-image: linear-gradient(
    325deg,
    rgb(255, 187, 0),
    rgb(170, 134, 66) 1%,
    rgb(182, 146, 79) 22%,
    rgb(218, 194, 129) 36%,
    rgb(202, 167, 114) 46%,
    rgb(209, 167, 103) 54%,
    rgb(214, 189, 124) 63%,
    rgb(219, 198, 141) 73%,
    rgb(170, 147, 85)
  );
}
/* Small to medium devices (e.g., phones, tablets) */
@media (max-width: 48em) {
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    border: 0px solid transparent;
    position: relative;
  }
  main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0%;
  }
  #display {
    flex: 1;
    width: 100%;
  }
  #keypad {
    flex: 5;
    width: 100%;
    padding-bottom: 4em;
    padding-top: 0.5em;
  }
  #clear-slide-slot {
    width: 120%;
    right: 10%;
  }
}

/* Medium to large devices (e.g., tablets, small laptops) */
@media (min-width: 48.0625em) and (max-width: 75em) {
  body {
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 44vw;
    height: 55vh;
    border-radius: 20px;
  }
  #display {
    flex: 1;
    width: 100%;
    background-color: #606064;
    border-radius: 0.8em;
  }
  #keypad {
    flex: 4;
    width: 100%;
  }
  .calc-btn {
    height: 60px;
  }
  .operator-btn {
    height: 60px;
  }
  #equals-btn {
    height: 60px;
  }
  #clear-slide {
    height: 62px;
  }
}
@media (min-width: 48.0625em) and (max-width: 75em) and (orientation: landscape) {
  body {
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }
  main {
    width: 33vw;
    height: 66vh;
  }
  .calc-btn {
    height: 60px;
  }
  .operator-btn {
    height: 60px;
  }
  #equals-btn {
    height: 60px;
  }
  #clear-slide {
    height: 62px;
  }
}
@media (min-width: 40em) and (min-height: 400px) and (max-height: 700px) {
  .calc-btn {
    height: 55px;
  }
  .operator-btn {
    height: 55px;
  }
  #equals-btn {
    height: 55px;
  }
  #clear-slide {
    height: 57px;
  }

  main {
    width: 33vw;
    height: 70vh;
  }
  body {
    padding-top: 3em;
  }
}
@media (min-width: 75em) and (min-height: 400px) and (max-height: 700px) {
  main::before {
    content: "";
    position: absolute;
    width: 102%;
    height: 102%;
    border-radius: inherit;
    top: -1%;
    right: 0;
    bottom: 0;
    left: -1%;
  }
  .calc-btn {
    height: 55px;
  }
  .operator-btn {
    height: 55px;
  }
  #equals-btn {
    height: 55px;
  }
  #clear-slide {
    height: 57px;
  }
}
/* Large to extra-large devices (e.g., desktops) */
@media (min-width: 75.0625em) {
  body {
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }
  main {
    display: flex;
    flex-direction: column;
    width: 33vw;
    max-width: 550px;
    height: 80vh;
    border-radius: 30px;
    padding: 20px;
    position: relative;
  }
  main::before {
    content: "";
    position: absolute;
    width: 103%;
    height: 102%;
    border-radius: inherit;
    top: -1%;
    right: 0;
    bottom: 0;
    left: -1.5%;
  }

  #display {
    flex: 1;
    width: 100%;
    background-color: #7a7a7a;
    border-radius: 0.8em;
  }
  #keypad {
    flex: 4;
    width: 100%;
  }
  #clear-slide {
    height: 60px;
  }
}
